.inputbox-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px;
    padding: 20px;
    border-radius: var(--border-radius);
  background: var(--background-style);
  box-shadow: var(--box-shadow);
  backdrop-filter: var(--backdrop-filter-style);
  -webkit-backdrop-filter: var(--backdrop-filter-style);
  border: var(--border-style);
  }

  .input-box {
        margin: 10px;
        padding: 20px;
        min-width: 350px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border-radius: var(--border-radius);
        box-shadow: var(--box-shadow2);
        background-color: transparent;
  }

  .h2 {
   margin-left: 2rem;
  }

  .input-button {
    cursor: pointer;
    position: relative;
    padding: 10px 24px;
    margin-top: 2.7rem;
    width: 100%;
    font-size: 18px;
    color:var(--color-light);
    background-color:var(--color-middle);
    border-style:none;
    border-radius: 25px;
    font-weight: 600;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  
  .input-button:hover {
    color: var(--color-dark);
    background-color: var(--color-light);
    border: 2px solid var(--color-dark);
  }
  
  