:root {
  --background-style: #41b98833;
  /* --box-shadow: 0 4px 30px #0000001A; */
  --box-shadow: inset 2px 3px 5px #072933;
  --backdrop-filter-style: blur(5px);
  --border-style: 1px solid #41b9884D;
  --border-radius: 8px;
  --box-shadow2: inset 2px 3px 5px #072933;
  --color-dark: #072933;
  --color-middle: #1c856e;
  --color-light: #e1f3b3;

}

@import url('https://fonts.googleapis.com/css2?family=Pathway+Extreme:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
 }

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  font-family: "Pathway Extreme", sans-serif;
  align-items: center;
  justify-content: center;
  color:var(--color-dark);
  background-image: url(./Asstes/tablat-back-big.webp);
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;

 }

.home {
  max-width: 800px;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.box-container {
  display: flex;
  flex-wrap: wrap;
}

h1 {
  font-size: 2rem;
  margin: 1rem;
  color: var(--color-dark);
}

p {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  color: var(--color-dark);
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 8px;
  margin: 10px;
  padding: 20px;
  background: var(--background-style);
  box-shadow: var(--box-shadow);
  backdrop-filter: var(--backdrop-filter-style);
  -webkit-backdrop-filter: var(--backdrop-filter-style);
  border: var(--border-style);
}


.box {
  flex: 1;
  min-width: 350px;
  margin: 15px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: var(--border-radius);
  background: var(--background-style);
  box-shadow: var(--box-shadow);
  backdrop-filter: var(--backdrop-filter-style);
  -webkit-backdrop-filter: var(--backdrop-filter-style);
  border: var(--border-style);
}

h2 {
  font-size: 1.4rem;
  margin-bottom: 15px;
}

.h3{
  font-size: 1em;
  margin: 1rem;
  color:red;
}

.default-button {
  cursor: pointer;
  position: relative;
  padding: 10px 24px;
  font-size: 18px;
  color:var(--color-light);
  background-color: var(--color-middle);
  border-style:none;
  border-radius: 25px;
  font-weight: 600;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
}


.default-button:hover {
  color: var(--color-dark);
  background-color: var(--color-light);
  border: 2px solid var(--color-dark);
  scale: 1.05;
}

.back-to-home {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
}

.back-button {
  cursor: pointer;
  position: relative;
  padding: 10px 24px;
  font-size: 18px;
  color:var(--color-light);
  background-color: var(--color-middle);
  border-style:none;
  border-bottom-right-radius: 40px;
  font-weight: 600;

  transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
}

.back-button:hover {
  color: var(--color-dark);
  background-color: var(--color-light);
  border: 2px solid var(--color-dark);
  scale: 1.05;
}

.addcar-Label {
  font-weight: 600;
  font-size: 1.1rem;
  padding-top: 15px;
  padding-bottom: 10px;
  color: var(--color-dark);
  
}

.addcar-Input {
  width:80%;
  height: 2.5rem;
  background-color: transparent;
  font-size: 1.2rem;
  color: var(--color-dark);
  font-weight: 500;
  border-style: none;
  border-radius: 8px;
  box-shadow: var(--box-shadow2);
  padding: 5px;
  
}

.addcar-Input:focus {
  border-style: none;
  box-shadow:
  inset 2px 5px 10px var(--color-dark),
  0px 0px 10px var(--color-middle);
    }


.add-car-button {
  margin-top: 20px;
}

.carlist-box{
 min-width: 350px;
  margin:10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius:var(--border-radius);
  box-shadow: var(--box-shadow2);
  background: var(--background-style);
  backdrop-filter: var(--backdrop-filter-style);
  -webkit-backdrop-filter: var(--backdrop-filter-style);
  border: var(--border-style);
}
.carlist-ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.2rem;
}

.carlist-li {
  list-style: none;
}

.carlist-checkbox {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid var(--color-middle);
  border-radius: 5px;
  background-color: transparent;
  display: inline-block;
  position: relative;
  margin-right: 10px;
  cursor: pointer;
}

.carlist-checkbox:before {
  content: "";
  background-color: var(--color-middle);
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 10px;
  height: 10px;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}

.carlist-checkbox:checked:before {
  transform: translate(-50%, -50%) scale(1) rotate(360deg);
}

.carlist-checkbox-label {
  font-size: 18px;
  font-weight: 550;
  color: var(--color-middle);
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
}

.carlist-label2 {
  color: var(--color-middle);
  cursor: pointer;
  user-select: none;
}

.km-p {
  font-weight: 550;
  color: var(--color-dark);
}

ul {
  list-style: none;
}

.search {
  display: inline-block;
  position: relative;
}

.search input {
  width: 350px;
  padding: 10px;
  border: none;
  font-weight: 550;
  color: var(--color-dark);
  font-size: 1rem;
  border-radius: 20px;
  box-shadow:var(--box-shadow2);
  background-color: transparent;
  
}

@media only screen and (max-width: 768px) {
  .card {
      flex: 100%;
  }

  button {
    width: 100%;
  }
}