* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color:#212121;
  background: #eacda3;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #d6ae7b, #eacda3);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #d6ae7b, #eacda3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.home {
  max-width: 800px;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.box-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

h1 {
  font-size: 2rem;
  margin: 1rem;
  color: #352104;
}

p {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  color: #352104;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 8px;
  margin: 10px;
  padding: 20px;
  box-shadow: inset 3px 5px 10px #352104;
  background-color: transparent;
}

.box {
  flex: 1;
  min-width: 350px;
  margin: 10px;
  padding: 20px;
  border: 1px solid #d6ae7b;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 8px;
  box-shadow: inset 3px 5px 10px #352104;
  background-color: transparent;
}

h2 {
  font-size: 1.4rem;
  margin-bottom: 15px;
}

.h3{
  font-size: 1em;
  margin: 1rem;
  color:red;
}

.default-button {
  cursor: pointer;
  position: relative;
  padding: 10px 24px;
  font-size: 18px;
  color:#d6ae7b;
  background-color:#7c551d;
  border-style:none;
  border-radius: 25px;
  font-weight: 600;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
}


.default-button:hover {
  color: #352104;
  background-color: #d6ae7b;
  border: 2px solid #352104;
  scale: 1.05;
}

.back-button {
  cursor: pointer;
  position: relative;
  padding: 10px 24px;
  font-size: 18px;
  color:#d6ae7b;
  background-color:#7c551d;
  border-style:none;
  border-bottom-right-radius: 40px;
  font-weight: 600;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
}

.back-button:hover {
  color: #352104;
  background-color: #d6ae7b;
  border: 2px solid #352104;
  scale: 1.05;
}

.back-to-home {
  position: fixed;
  left: 0;
  top: 0;
}

.addcar-Label {
  font-weight: 600;
  font-size: 1.1rem;
  padding-top: 15px;
  padding-bottom: 10px;
  color:#352104;
  
}

.addcar-Input {
  width:80%;
  height: 2.5rem;
  background-color: transparent;
  font-size: 1.2rem;
  color:#352104;
  font-weight: 500;
  border-style: none;
  border-radius: 8px;
  box-shadow: inset 3px 4px 6px #352104;
  padding: 5px;
  
}

.addcar-Input:focus {
  border-style: none;
  box-shadow:
  inset 2px 5px 10px #352104,
  0px 0px 10px #7c551d;
    }


.add-car-button {
  margin-top: 20px;
}

.carlist-box{
 min-width: 350px;
  margin:10px;
  padding: 20px;
  border: 1px solid #d6ae7b;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  box-shadow: inset 3px 5px 10px #352104;
  background-color: transparent;
}
.carlist-ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.2rem;
}

.carlist-li {
  list-style: none;
}

.carlist-checkbox {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #7c551d;
  border-radius: 5px;
  background-color: transparent;
  display: inline-block;
  position: relative;
  margin-right: 10px;
  cursor: pointer;
}

.carlist-checkbox:before {
  content: "";
  background-color: #7c551d;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 10px;
  height: 10px;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}

.carlist-checkbox:checked:before {
  transform: translate(-50%, -50%) scale(1);
}

.carlist-checkbox-label {
  font-size: 18px;
  font-weight: 550;
  color: #7c551d;
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
}

.carlist-label2 {
  color: #7c551d;
  cursor: pointer;
  user-select: none;
}

.km-p {
  font-weight: 550;
  color: #352104;
}

ul {
  list-style: none;
}

.search {
  display: inline-block;
  position: relative;
}

.search input {
  width: 350px;
  padding: 10px;
  border: none;
  font-weight: 550;
  color: #352104;
  font-size: 1rem;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-shadow: inset 2px 3px 5px #352104;
  background-color: transparent;
  
}

@media only screen and (max-width: 768px) {
  .card {
      flex: 100%;
  }

  button {
    width: 100%;
  }
}